@model ConstructionPrototype.Models.HomeArticleCreateViewModel

@{
    ViewData["Title"] = "New Home article.";
}


<form method="post" asp-action="@Model.ActionPath" enctype="multipart/form-data">
    <div class="center">
        <h3>Create new Home Page article.</h3>
    </div>

    <div class="input-group mb-3">
        <label asp-for="@Model.CreateForm.Title"
               class="input-group-text width-chip">
               Article Name
        </label>

        <input class="form-control"
               asp-for="@Model.CreateForm.Title"
               type="text"/>

    </div>

    <div class="input-group mb-3 description-chip">
        <label asp-for="@Model.CreateForm.ShortDescription"
               class="input-group-text width-chip">
               In short
        </label>

        <textarea 
               class="form-control"
               aria-label="With textarea"
               type="text"
               asp-for="@Model.CreateForm.ShortDescription">
        </textarea>
    </div>

    <div class="input-group mb-3 description-chip">
        <label asp-for="@Model.CreateForm.Description"
               class="input-group-text width-chip">
               Description
        </label>

        <textarea class="form-control"
               aria-label="With textarea"
               asp-for="@Model.CreateForm.Description"
               type="text">
        </textarea>

    </div>

    <div class="input-group mb-3 description-chip">
        <label asp-for="@Model.CreateForm.Image"
               class="input-group-text width-chip"
               asp-for="Image">
               Image
        </label>

        <input type="file"
               id="Image"
               asp-for="@Model.CreateForm.Image"
               accept="image/png, image/jpeg" />
    </div>


    <div class="form-group row">
        <div class="create1 col-10 offset-2 row center">

            <div class="col">
                <input class="btn btn-info w-75"
                       type="submit"
                       value="Create" />
            </div>

            <div class="col">
                <a class="btn btn-danger"
                   asp-controller="Service"
                   asp-action="LogIn">
                   Go Back
                </a>
            </div>

        </div>
    </div>
</form>
