@model IEnumerable<ConstructionPrototype.Data.Entities.JobOffer>

@{
    ViewData["Title"] = "JoinUs";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>



    @if (Model.Count() > 0)
    {
        <div class="table" style="width:100%">
           
            
            @foreach(var item in Model)
            {
                <div class="join-us-padding list-group-item-dark">

                    <h3>@item.Name</h3>
                    <h5>@item.Type job</h5>
                    <p>@item.Salary € / month</p>
                    <p>Location: @item.Location</p>
                    <p>@item.Description</p>

                    <a class="btn btn-outline-dark" type="button" asp-controller="Service" asp-action="Contacts">Contact us now!</a>
                </div>   
            }
        </div>
    }
    else
    {
        <div class="text-center">
            <p>We do not look for new employees.</p>
            <p>Be sure to check later!</p>
        </div>
    }



