@model IEnumerable<ConstructionPrototype.Data.Entities.HomeArticle>

@{
    ViewData["Title"] = "Home Page";
    string byteArrayToImage(byte[] bytesArr)
    {
        var base64 = Convert.ToBase64String(bytesArr);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        return imgSrc;
    }
}




<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>


<div class="table" style="width:100%">
    @if (Model.Count() > 0)
    {

        @foreach (var item in Model)
        {
            @if (item.Image != null)
            {
                <div class="join-us-padding home-art d-grid mx-auto">
                    <div class="row g-3">
                        <div class="col-6">
                            <h3>@item.Title</h3>
                            <h5>@item.ShortDescription</h5>
                            <p></p>
                            <h6>@item.Description</h6>
                        </div>
                        <div class="col-3">
                            <img src="@byteArrayToImage(item.Image)">
                        </div>
                    </div> 
                </div>
            }
            @if (item.Image == null)
            {
                <div class="join-us-padding home-art d-grid mx-auto">
                    
                        
                            <h3>@item.Title</h3>
                            <h5>@item.ShortDescription</h5>
                            <p></p>
                            <h6>@item.Description</h6>
                        
                        
                    
                </div>
            }
        }
    }

    else
    {
        <div class="text-center">
            <p>Ooooooops!</p>
            <p>No articles yet!</p>
        </div>
    }

</div>
